body{
  Background-color:Lightgrey;
  border:double 10px black;
  margin:3%;
}

div.name{
  border:solid 6px;
  margin:5%
  
}
h3.job-header{
  border-top:solid 6px black;
  text-align:center;
}

p{
  font-style:italic;
  text-align:center;
}
li{
  padding-left:3%;
  
}
h1,h2{
  text-align:center;
}
